footer{
    background-color: rgb(16, 16, 51);
    padding-top: 3%;
    padding-bottom: 3%;
}

p{
    flex-direction: row-reverse;
    color: rgba(202, 197, 221);
}

.Ltwitter,
.Linstagram{
  margin: 0 20px;
}

.barreBasse{
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 1em 4% 1em 0;
  padding-left: 5%;
  padding-right: 4%;
}







.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }


.Ltwitter:hover,
.Linstagram:hover{
  font-size: 8em;
  color: #fff;
  border-radius: 29px;
  margin: 0 20px;
  animation: animate 3s linear infinite;
  box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 25px #03e9f4,
                0 0 40px #03e9f4;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
