footer{
    background-color: rgba(134, 134, 134, 0.31);
}

p{
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
}

.Ltwitter,
.Linstagram{
  margin: 0 20px;
}

.barreBasse{
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 1em 4% 1em 0;
    padding-left: 5%;
    padding-right: 4%;
}


#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
