header{
    height:calc(100vh - 60px);
    background-image: url('https://i.imgur.com/UUyPDwM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
header h1{
    color: #fff;
    font-size:3rem;
    display: inline-block;
    margin-top: 200px;
    font-family: 'Lexend Deca';
}
header a{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    text-decoration:none;
    color: #fff;
    padding:10px;
    border-radius: 30px;
    width: 150px;
    font-family: 'Lexend Deca';
    background:linear-gradient(to left ,#303F9F,#1A237E)
}

header a:hover{
    background: linear-gradient(to right,#1a237e,#283593)
}
@media only screen and (max-width:550px){
    header{
        height: auto;
    }
    header a{
        margin-bottom: 20px;
    }
}