body{
  height: 100%;
  width: 100%;
  margin: auto;
  color: aliceblue;
}

.All{
  height: 100%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content:space-evenly;
}

.side{
  display: flex;
  justify-content:space-evenly;
}

#border{
  border: 1px solid rgb(16, 16, 51);
  border-radius: 20px;
  background-color: rgb(25, 25, 68);
  padding: 30px;
  font-size: 18px;
}

p{
  padding-left: 6%;
  padding-bottom: 15px;
}

.news{
  height: 88%;
  width: 100%;
  padding-right: 90%;
}


h3{
  font-size: 28px;
  text-align: center;
  padding: 30px;
}

.space{
  padding: 10px;
  margin: 0;
}



/*.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}*/
