body{
    margin:auto !important;
    width: 100% !important;
}

h1 {
    margin-left: 50px !important;
}

h2, h3, h4 {
    margin-left:20px;
}

.operation, p {
    margin-left: 30px;
}

/*.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }*/
