*{outline:0;
  margin:0;
  padding:0
}

.login-form{
  margin:50px auto;
  width:500px;
  font-family: 'Open Sans Condensed',
  sans-serif;
  padding:15px 20px;
  border-radius:43px 77px 77px 17px
}

.login-form h3{
  width: 115px;
  text-align: center;
  height: 43px;
  line-height: 43px;
  background: #ffaa18;
  margin: 10px 0;
  border-radius: 10px 34px 0;	
  color:#EEE;
  font-family:tahoma;
}

.login-form .nom{
width:166px;
height:30px;
padding-left:10px;
margin-bottom:10px;
}

.login-form .prenom{
width:166px;
height:30px;
padding-left:10px;
margin-bottom:10px;
}

.login-form .prenom2{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}

.login-form .date{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}

.login-form .tel{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}

.login-form .email{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}

.login-form .password{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}

.login-form .cpassword{
  width:166px;
  height:30px;
  padding-left:10px;
  margin-bottom:10px
}